-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: swacam_penagihan_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `pengaturan`
--

DROP TABLE IF EXISTS `pengaturan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaturan` (
  `kunci` varchar(60) NOT NULL,
  `nilai` varchar(255) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `diubah_oleh` varchar(50) DEFAULT NULL,
  `diubah_pada` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`kunci`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan`
--

LOCK TABLES `pengaturan` WRITE;
/*!40000 ALTER TABLE `pengaturan` DISABLE KEYS */;
INSERT INTO `pengaturan` VALUES ('antrean_maks_percobaan','2','Percobaan ulang otomatis bila Fonnte gagal (#1)',NULL,'2026-10-01 04:14:07'),('jeda_antar_pesan_detik','8','Jeda antar pesan di antrean server (#1)',NULL,'2026-10-01 04:14:07'),('jeda_minimum_jam','24','Jeda minimum kirim ke pelanggan yang sama; 0 = nonaktif (#6)',NULL,'2026-10-01 04:14:07'),('pengingat_awal_mulai','15','Pengingat ramah boleh dikirim mulai tanggal ini (#4)',NULL,'2026-10-01 04:14:07'),('pengingat_awal_selesai','17','Pengingat ramah boleh dikirim sampai tanggal ini (#4)',NULL,'2026-10-01 04:14:07');
/*!40000 ALTER TABLE `pengaturan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tunggakan_pelanggan`
--

DROP TABLE IF EXISTS `tunggakan_pelanggan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tunggakan_pelanggan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_pelanggan` varchar(50) NOT NULL,
  `nama` varchar(150) DEFAULT NULL,
  `no_hp` varchar(30) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `periode` varchar(30) DEFAULT NULL,
  `nominal` float DEFAULT NULL,
  `jatuh_tempo` date DEFAULT NULL,
  `wa_status` varchar(20) DEFAULT NULL,
  `wa_waktu` datetime DEFAULT NULL,
  `wa_respon` varchar(255) DEFAULT NULL,
  `wa_jumlah_kirim` int(11) DEFAULT NULL,
  `tahap_wa` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 belum, 1 pengingat 1, 2 pengingat 2, 3 pemberitahuan akhir',
  `template_terakhir` varchar(40) DEFAULT NULL COMMENT 'kode wa_template yang terakhir dikirim',
  `diupload_oleh` varchar(50) DEFAULT NULL,
  `diupload_pada` datetime DEFAULT NULL,
  `lunas_pada` datetime DEFAULT NULL,
  `sumber_file` varchar(150) DEFAULT NULL,
  `status_bayar` varchar(10) NOT NULL DEFAULT 'BELUM',
  PRIMARY KEY (`id`),
  KEY `ix_tunggakan_pelanggan_id_pelanggan` (`id_pelanggan`),
  KEY `ix_tunggakan_jatuh_tempo` (`jatuh_tempo`),
  KEY `ix_tunggakan_wa_status` (`wa_status`),
  KEY `ix_tunggakan_nominal` (`nominal`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tunggakan_pelanggan`
--

LOCK TABLES `tunggakan_pelanggan` WRITE;
/*!40000 ALTER TABLE `tunggakan_pelanggan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tunggakan_pelanggan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_antrean`
--

DROP TABLE IF EXISTS `wa_antrean`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_antrean` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `batch_id` int(11) NOT NULL,
  `tunggakan_id` int(11) DEFAULT NULL COMMENT 'tanpa FK: baris tunggakan bisa terhapus saat impor ulang',
  `id_pelanggan` varchar(50) NOT NULL,
  `no_hp` varchar(30) NOT NULL,
  `template_kode` varchar(40) DEFAULT NULL,
  `pesan` text NOT NULL COMMENT 'pesan final yang sudah dirender, supaya persis yang dikonfirmasi admin',
  `status` varchar(12) NOT NULL DEFAULT 'MENUNGGU' COMMENT 'MENUNGGU | MEMPROSES | TERKIRIM | GAGAL | DILEWATI | DIBATALKAN',
  `percobaan` tinyint(4) NOT NULL DEFAULT 0,
  `jadwal_kirim` datetime DEFAULT NULL COMMENT 'waktu paling cepat dikirim (jeda otomatis)',
  `diproses_pada` datetime DEFAULT NULL,
  `respon` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_wa_antrean_batch_status` (`batch_id`,`status`),
  KEY `ix_wa_antrean_siap` (`status`,`jadwal_kirim`),
  CONSTRAINT `fk_wa_antrean_batch` FOREIGN KEY (`batch_id`) REFERENCES `wa_batch` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_antrean`
--

LOCK TABLES `wa_antrean` WRITE;
/*!40000 ALTER TABLE `wa_antrean` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_antrean` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_batch`
--

DROP TABLE IF EXISTS `wa_batch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_batch` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status` varchar(15) NOT NULL DEFAULT 'MENUNGGU' COMMENT 'MENUNGGU | BERJALAN | JEDA | SELESAI | DIBATALKAN | ERROR',
  `jenis` varchar(15) NOT NULL DEFAULT 'TAGIHAN' COMMENT 'PENGINGAT | TAGIHAN | CAMPURAN',
  `jeda_detik` int(11) NOT NULL DEFAULT 8,
  `total` int(11) NOT NULL DEFAULT 0,
  `terkirim` int(11) NOT NULL DEFAULT 0,
  `gagal` int(11) NOT NULL DEFAULT 0,
  `dilewati` int(11) NOT NULL DEFAULT 0,
  `dibuat_oleh` varchar(50) NOT NULL,
  `dibuat_pada` datetime DEFAULT current_timestamp(),
  `mulai_pada` datetime DEFAULT NULL,
  `selesai_pada` datetime DEFAULT NULL,
  `catatan` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_wa_batch_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_batch`
--

LOCK TABLES `wa_batch` WRITE;
/*!40000 ALTER TABLE `wa_batch` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_batch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_riwayat`
--

DROP TABLE IF EXISTS `wa_riwayat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_riwayat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_pelanggan` varchar(50) NOT NULL,
  `nama` varchar(150) DEFAULT NULL,
  `tunggakan_id` int(11) DEFAULT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `no_hp` varchar(30) NOT NULL,
  `periode` varchar(30) DEFAULT NULL,
  `nominal` float DEFAULT NULL,
  `template_kode` varchar(40) DEFAULT NULL,
  `tahap` tinyint(4) DEFAULT NULL,
  `pesan` text DEFAULT NULL,
  `status` varchar(12) NOT NULL DEFAULT 'ANTRE' COMMENT 'ANTRE | TERKIRIM | DITERIMA | DIBACA | GAGAL',
  `fonnte_id` varchar(60) DEFAULT NULL COMMENT 'id pesan dari respon send Fonnte, dipakai mencocokkan webhook',
  `respon` varchar(255) DEFAULT NULL,
  `dikirim_oleh` varchar(50) DEFAULT NULL,
  `waktu_kirim` datetime DEFAULT current_timestamp(),
  `waktu_diterima` datetime DEFAULT NULL,
  `waktu_dibaca` datetime DEFAULT NULL,
  `balasan` text DEFAULT NULL,
  `waktu_balasan` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_wa_riwayat_idpel` (`id_pelanggan`,`waktu_kirim`),
  KEY `ix_wa_riwayat_hp_waktu` (`no_hp`,`waktu_kirim`),
  KEY `ix_wa_riwayat_fonnte` (`fonnte_id`),
  KEY `ix_wa_riwayat_batch` (`batch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_riwayat`
--

LOCK TABLES `wa_riwayat` WRITE;
/*!40000 ALTER TABLE `wa_riwayat` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_riwayat` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_wa_riwayat_jeda` BEFORE INSERT ON `wa_riwayat` FOR EACH ROW BEGIN
  DECLARE v_jam INT DEFAULT 24;
  DECLARE v_ada INT DEFAULT 0;
  SELECT CAST(`nilai` AS SIGNED) INTO v_jam FROM `pengaturan` WHERE `kunci` = 'jeda_minimum_jam';
  IF v_jam > 0 AND NEW.`status` <> 'GAGAL' THEN
    SELECT COUNT(*) INTO v_ada FROM `wa_riwayat`
     WHERE `id_pelanggan` = NEW.`id_pelanggan`
       AND `status` <> 'GAGAL'
       AND `waktu_kirim` > (NOW() - INTERVAL v_jam HOUR);
    IF v_ada > 0 THEN
      SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Pelanggan ini sudah dikirimi pesan dalam jeda minimum';
    END IF;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `wa_template`
--

DROP TABLE IF EXISTS `wa_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_template` (
  `kode` varchar(40) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `tahap` tinyint(4) NOT NULL COMMENT '0 ramah sebelum tempo, 1, 2, 3 akhir',
  `hari_min` int(11) NOT NULL COMMENT 'hari terlambat minimum (negatif = sebelum tempo)',
  `hari_max` int(11) DEFAULT NULL COMMENT 'NULL = tanpa batas atas',
  `isi` text NOT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `diubah_oleh` varchar(50) DEFAULT NULL,
  `diubah_pada` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`kode`),
  UNIQUE KEY `uq_wa_template_tahap` (`tahap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_template`
--

LOCK TABLES `wa_template` WRITE;
/*!40000 ALTER TABLE `wa_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_webhook_log`
--

DROP TABLE IF EXISTS `wa_webhook_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_webhook_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `diterima` datetime DEFAULT current_timestamp(),
  `fonnte_id` varchar(60) DEFAULT NULL,
  `state` varchar(30) DEFAULT NULL,
  `payload` mediumtext NOT NULL,
  `diproses` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `ix_wa_webhook_fonnte` (`fonnte_id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_webhook_log`
--

LOCK TABLES `wa_webhook_log` WRITE;
/*!40000 ALTER TABLE `wa_webhook_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_webhook_log` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-05 11:10:06
